.setflex {
    display: flex;
}

.onethird {
    width: 31%;
    margin-right: 2%;
}

.onehalf {
    width: 47%;
    margin-right: 3%;
}

.smallbox {
    width: 60px;
}

.bighalfpage {
    width: 57%;
    margin-right: 3%;
}

.smallhalfpage {
    width: 37%;
    margin-right: 3%;
}

.lefthalfpage {
    width: 45%;
    margin-right: 5%;
}

.righthalfpage {
    width: 45%;
    margin-left: 5%;
}

.danger {
    color: var(--danger-text-color);
    background-color: var(--danger-color);
}

ul.no-bullets {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
}
